################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Reflection/.vs
/Reflection/bin/Debug/net8.0
/Reflection/obj/Debug/net8.0
/Reflection/obj
